.heading {
  /* This is heading Style */
  font-size: 35px;
  font-weight: bolder;
  color: snow;
  text-transform: uppercase;
}

.body {
  /* Default body Style */
  font-family: "Gill Sans", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 5px;
}

.intro {
  background-color: #2f5a78;
  color: white;
  padding-left: 5px;
  padding-bottom: 8px;
  margin-bottom: 4px;
}

.se {
  /* Software Engineer Style */
  font-weight: lighter;
  font-size: 20px;
  color: snow;
}

.summary {
  /* Summary Style */
  font-style: italic;
  color: snow;
}

.contactinfo {
  font-size: 15px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #eeeeee;
}
.subheading {
  font-size: 20px;
  font-weight: bolder;
  color: #2f5a78;
  text-transform: uppercase;
}
