.heading {
  /* This is heading Style */
  font-size: 35px;
  font-weight: bold;
  color: snow;
}

.intro {
  background-color: #2f5a78;
}

.se {
  /* Software Engineer Style */
  font-weight: bold;
  color: snow;
}

.summary {
  /* Summary Style */
  font-style: italic;
  color: snow;
}
