.body {
  color: blanchedalmond;
  background-color: black;
  font-size: 200%;
}

#main {
  color: orange;
  background-color: beige;
}

#main .body em {
  color: azure;
  background-color: black;
  font: italic;
  font-size: 200%;
}
